VITE_QUOTE_API_URL=http://localhost:4000
VITE_SETTLEMENT_ADDRESS_1=0xEthereumSettlement
VITE_SETTLEMENT_ADDRESS_42161=0xArbitrumSettlement
VITE_SETTLEMENT_ADDRESS_8453=0xBaseSettlement
VITE_SETTLEMENT_ADDRESS_84532=0xBaseSepoliaSettlement
VITE_SETTLEMENT_ADDRESS_137=0xPolygonSettlement
VITE_SETTLEMENT_ADDRESS_10=0xOptimismSettlement
